<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet">
<link href="./static/work5.css" rel="stylesheet">
</head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title=""> Home</a></li>
          <li><a href="./works.html" title=""> Works</a></li>
          <li><a href="./about.html" title=""> About me</a></li>
          <li><a href="./contact.html" title=""> Contact</a></li>
        </ul>

      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <img src="./static/assets/images/digital_world.jpg" class="img-responsive" alt="" style="width: 1200px; height: 700px;">
          <div class="card-container">
            <div class="text-center">
              <h1 class="h2">The Internet is made up of a number of networking devices called Repeaters, Bridges, Routers, and Gateways.</h1>
            </div>
            <p>Entry level </p>
            <blockquote>
              <p>"This course is for those who want to learn about Digital Network."</p>
              <h1 class="text-center">Table of Content</h1>
                         <ul>
                            <li>What is Digital Network?</li>
                            <li>Networking Concepts.</li>
                            <li>Infrastructure(Cables, Connectors and Networking Devices).</li>
                            <li>Network Operations.</li>
                            <li>Network Security.</li>
                            <li>Network Tools and Troubleshooting.</li>
                            <li>Subnetting.</li>
                         </ul>                               
            </blockquote>
      

            <div class="col-md-8 col-md-offset-2 section-container-spacer">
            </div>
          </div>
        </div>
     <h2>What is Digital Network?</h2><br>
    <h3>Two or more electronic devices connected together wired or wireless create a digital network. <br>
     Network is used for: <br>
     <ul>
      <li>Share information and data.</li>
      <li>Share resources such as  faxes, printers, and services.</li>
      <li>Remote communication.</li>
     </ul>
     The basic components of the network between two devices are:
     <ul>
      <li>Applications that want to communicate.</li>
      <li>A common language (protocol)</li>
      <li>A network interface (NIC)</li>
      <li>A transmission media to physically connect them(coaxial cable, twisted-pair, satellite, fiber optic)</li>
     </ul>
    </h3> <br>
    <h3>OSI Model <br>
      ISO/OSI	– International	Organization	for	
      Standardization/Open	Systems	Interconnection.
     <img src="./static/assets/images/osi.png"  class="img-responsive" alt="" style="width: 1200px; height: 700px;">
    </h3>
    <h3>Layer	7	– Application	Layer <br>
     In this layer data is called "data" <br>
     Application layer supports end-user applications and processes.
     Common	Layer	7	protocols	include:
     • SMTP,	POP3,	IMAP,	HTTP,	HTTPS,	RDP,	DNS,	DHCP,	SMB,	NFS,	FTP,	TFTP,	Telnet,	
     SSH,	SIP,	NTP,	SNMP,	LDAP. <br> <br>
     Layer	6	– Presentation	Layer <br>
     At	this	layer	the	data	is	called	“data” <br>
     The presentation layer establishes the way in which information is presented, typically for display or printing. <br>
     Common	formats	include: <br>
    • Multimedia	formats	– JPG,	PNG,	GIF,	MP3,	MP4,	MKV,	MOV,	WAV,	PDF… <br>
    • Encryption	algorithm	and	bit	size	– DES,	AES,	MD5,	SHA-1,	160	bit,	128	bit… <br>
    • Compression	– H.264,	H.263,	MPEG-4,	MPEG-2,	AAC,	<br>
    • Character	sets	– ASCII,	Unicode,	EBCDIC <br> <br>
     Layer	5	- Session <br>
     At	this	layer	the	data	is	called	“data” <br>
     Session layer controls the dialogues (connections) between computers. <br> <br>
     Layer	4	- Transport <br>
     First	layer	to	encapsulate	the	data	with	a	header <br>
     This layer also known as the transport layer, manages network traffic between hosts and end 
     systems to ensure complete data transfers. Transport-layer protocols such as TCP, and UDP. <br>
     TCP(Transmission Control Protocol): <br>
     Data is called 'Segment'  <br>
     Breaks	up	data	into	manageable	pieces	for	transmission <br>
     UDP(User Datagram Protocol): <br>
     Data is called 'Datagram'. <br>
     Embeds	the	source	and	destination	ports	into	its	header. <br> <br>
     Layer	3	- Network <br>
     Data in this layer is called 'packet' <br>
     This layer is the Internet Protocol, or IP. <br>
     IP,	ICMP,	IGMP <br> <br>
     Layer	2	– Data	Link <br>
     Data	at	this	later	is	called	a	“frame”	<br>
     Adds	a	physical	source	and	destination	address <br>
     Encapsulates	Layer	3	packet	into	a	frame <br> <br>
     Layer	1	- Physical <br>
     Data	at	this	layer	is	called	“bits” <br>
     Actual	transmission	of	the	frame	as	1’s	and	0’s <br> <br>
    </h3> 
    <h3><u> Protocols and Ports:</u> <br>
      What is a Protocol? <br>
      Set	of	rules	or	“language”	for	Devices communication. <br>
      A	host	will	use	several	protocols	to	make	a	connection	on	the	network such as: TCP,	UDP,	IP,	HTTP,	FTP,	etc.. <br> <br>
     <u>What	is	a	Port?</u>  <br> 
     A	number	assigned	by	the	operating	system	to	a	process	(application) <br>
     Ports are software-based and managed by a computer's operating system. Each port is associated with a specific process or service.
      Ports allow computers to easily differentiate between different kinds of traffic: emails go to a different port than webpages,
       for instance, even though both reach a computer over the same Internet connection. <br> <br>
       <u>What	is	a	Port Number?</u>  <br> 
       Ports are standardized across all network-connected devices, with each port assigned a number. Most ports are reserved for 
       certain protocols — for example, all Hypertext Transfer Protocol (HTTP) messages go to port 80. While IP addresses enable
        messages to go to and from specific devices, port numbers allow targeting of specific services or applications within those devices. <br> <br> 
        <u>What	is an	IP address?</u>  <br> 
        A	number	that	a	computer	or	device	uses	to	identify	itself	on	the	network. Typically,	each	network	interface	card	on	a	computer	has	its	own	IP	
        address. Each	IP	address	must	be	unique	on	the	network	so	there	is	no	conflict. <br>
      Example: 192.168.0.1 <br> <br> 
      <u>What	is a Socket?</u>  <br> 
      A	socket	is	a	port	that	is	in	use. It	is	a	combination	of	protocol,	IP	address,	and	port. <br>
      Example: TCP 192.168.0.1:80 <br> <br>
    <u>TCP/IP	Suite</u>  <br>
    Suite	(collection)	of	6	core	protocols: <br>
    TCP,	UDP,	IP,	ICMP,	IGMP,	ARP <br>
    All	but	ARP	have	an	IANA	assigned	protocol	number	(protocol	ID) <br> <br>
    </h3>
    <h3 class="text-center">Connection-Oriented	and	Connection-less</h3>
    <h3> <u> What	is	a	Connection-Oriented	Protocol?</u> <br>
      <ul>
        <li>Attempts	to	ensure	reliability	and	completeness	of	transmission</li>
        <li>Uses	a	handshake	to	create	and	end	a	session</li>
        <li>Keeps	track	of	the	conversation</li>
        <li>Ensures	that	the	other	side	is	responding</li>
        <li>Responds	to	requests	from	the	other	side</li>
        <li>Used	when	reliability	is	more	important	than	performance</li>
      </ul>
    </h3>
    <h3><u>What	is	a	Connection-less	Protocol?</u> <br>
      <ul>
        <li>Makes	no	attempt	to	ensure	completeness	of	the	transmission</li>
        <li>No	handshake</li>
        <li>Expects	higher	level	protocols	or	the	app	to	request	resends	if	some	
          of	the	data	did	not	arrive</li>
          <li>Used	when	performance	is	more	important	than	reliability,
            such as: Real-time	voice	or	video</li>
      </ul>
    </h3>
    <h3 class="text-center">Connection-Oriented	vs.	Connection-less</h3>
    <table>
      <tr>
      <th>Connection-Oriented</th>
      <th>Connection-less</th>
    </tr>
    <tr>
      <td>TCP</td>
      <td>UDP,	IP,	ICMP,	IGMP,	ARP</td>
    </tr>
    <tr>
      <td>Handshake	to	set	up	/	tear down	session</td>
      <td>No	handshake</td>
    </tr>
    <tr>
      <td>Flow	control /	error	correction</td>
      <td>No	flow	control	/	error	correction</td>
    </tr>
    <tr>
      <td>“Reliable”</td>
      <td>“Unreliable”</td>
    </tr>
    <tr>
      <td>Focus	on	receiving all	the	data</td>
      <td>Focus on	speed/performance</td>
    </tr>
    <tr>
      <td>Used for	downloading	files	including	
        web	pages,	emails,	file	transfers,	videoon-demand,	remote	control</td>
      <td>Used	for	real-time	communications	that	
        are	time sensitive,	and/or	can	tolerate	
        some	loss
        VoIP and	video	conferences,	SNMP,	DNS,	
        DHCP	</td>
    </tr>
    </table>
    <h2>Networking Concepts.</h2><br>
    
    <h2>Infrastructure(Cables, Connectors and Networking Devices).</h2> <br>

    <h2>Network Operations.</h2> <br>

    <h2>Network Security.</h2> <br>

    <h2>Network Tools and Troubleshooting.</h2> <br>

    <h2>Subnetting.</h2> <br>
    
        <footer class="footer-container text-center">
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12">
                      <p>© 2022 | Website created by Nicolae Caldarasan</p>
                    </div>
                  </div>
                </div>
              </footer>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>