<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title=""> Home</a></li>
          <li><a href="./works.html" title=""> Works</a></li>
          <li><a href="./about.html" title=""> About me</a></li>
          <li><a href="./contact.html" title=""> Contact</a></li>
        </ul>

      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <img src="./static/assets/images/binaryhover.jpg" class="img-responsive" alt="" style="width: 1200px; height: 700px;">
          <div class="card-container">
            <div class="text-center">
              <h1 class="h2">Decimal | Binary | Hexadecimal</h1>
            </div>
            <p>Entry level </p>
  
            <blockquote>
              <p>"This project is intended for those who want to learn more deeply about the  information technology."</p>
              <h1 class="text-center">Table of Content</h1>
                         <ul>
                            <li>What is the digital world?</li>
                            <li>Importance of digital world in our community.</li>
                            <li>Definition and types of data.</li>
                            <li>Binary, Decimal and Hexadecimal Explanation.</li>
                            <li>Digital Network.</li>
                            <li>What is hardware and software?</li>
                            <li>Risks of digital world and cyber-attacks</li>
                            <li>Digital network security measures.</li>
                         </ul>                               
            </blockquote>
          </div>
        </div>
        <h3>What is the digital world?</h3>
        <p> Today's world is a digital world from simple online shopping to sophisticated industrial machines.
            As soon as you access the Internet, you are in direct contact with digital world. Everything is online.
            Customers search online for the products they need, go online to get more information about almost anything,
            and go online to chat with friends. Whenever a customer goes online, a company has a chance to connect with
            them creating a win-win relationship.
            </p>
            <h3>Importance of digital world in our community.</h3>
            <p> Even if you are in some other part of the world, digital technology allows you to connect with friends, family, and work remotely. You can communicate using words, audio, video, and other media.
                One of the best ways technology has changed our lives is in keeping us safer. Through technology, we're living longer than ever before. While there have been countless technology advances in hospitals and medicine, there are also new technologies we can use at home.
                Although it makes our lives easier, the digital world has some risks that we must take into account.
            </p>
            <h3>Definition and types of data.</h3>
            <p> <b>Data</b> is a value that represents something. The data is transmitted over network in bits, where the bits are created from <b>zero</b> and <b>ones.</b>
                <h4>Data can be :</h4>
                <ul>
                    <li>String or (str) – is a combination of any characters that appear on a keyboard, such as letters, numbers and symbols.</li>
                    <li>Character or (char) – is used for single letters.</li>
                    <li>Integer or (int) – used for whole number.</li>
                    <li>Float or (real) – represents decimal numbers.</li>
                    <li></li>
                </ul>
            <p>On the other hand, information is data put into context.</p>










<h4>Data has two types of measurements such as:</h4>
<h5>Storage </h5>
<ul>
    <li>1 byte = 8 bits </li>
    <li>1 kilobyte(kb) = 1024 bytes </li>
    <li>1 megabyte(mb) = 1024 kilobytes</li>
    <li>1 gigabyte(gb) =  1024megabyte</li>
    <li>1 terabyte (TB) = 1024 gigabytes</li>
</ul>
<h5>Speed </h5>
<ul>
    <li>1 Kbps(kilobyte per second)</li>
    <li>1 Mbps(Megabyte per second) </li>
    <li>1 Gbps(Gigabyte per second)s</li>
</ul>
<h3>Binary, Decimal and Hexadecimal Explanation.</h3>                                                 
    <p>A bit is a binary digit, which is the smallest unit of data measurement.</p>                                       
         <h4><b>Bit</b> = <u>B</u>inary Dig<u>it</u></h4>                                  
          <h4> OFF = 0 and ON = 1</h4>   
          <h4>Binary value = 0 and 1</h4>                       
<p>Example of electrical cable either has current or doesn't. <br>
   No current = 0   Current = 1 <br>
   <p>Computers use powers of 2 because two is the base of the binary system.</p>
</p>

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
  </head>
  <body>
  
  <table>
    <tr>
      <th>Base <sup>exponent</sup></th>
      <td>2 <sup>7</sup></td>
      <td>2 <sup>6</sup></td>
      <td>2 <sup>5</sup></td>
      <td>2 <sup>4</sup></td>
      <td>2 <sup>3</sup></td>
      <td>2 <sup>2</sup></td>
      <td>2 <sup>1</sup></td>
      <td>2 <sup>0</sup></td>
    </tr>
    
    <tr>
      <td>Binary</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Decimal</td>
      <td>128</td>
      <td>64</td>
      <td>32</td>
      <td>16</td>
      <td>8</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
    </tr>
  </table>
  <p>There are 8 bits in a byte, so 11111111 in binary correspond to a decimal value of: 255.</p>
  <h5>128+64+32+16+8+4+2+1 = 255</h5> <br>
  <h4>Example 1: Convert number 192 in binary.</h4>      
  <table>
    <tr>
      <th>Base <sup>exponent</sup></th>
      <td>2 <sup>7</sup></td>
      <td>2 <sup>6</sup></td>
      <td>2 <sup>5</sup></td>
      <td>2 <sup>4</sup></td>
      <td>2 <sup>3</sup></td>
      <td>2 <sup>2</sup></td>
      <td>2 <sup>1</sup></td>
      <td>2 <sup>0</sup></td>
    </tr>
    
    <tr>
      <td>Binary</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Decimal</td>
      <td>128</td>
      <td>64</td>
      <td>32</td>
      <td>16</td>
      <td>8</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
    </tr>
  </table>
  <h4>128+64=192 <br>192 decimal = 11000000 in binary</h4> <br>
  <h4>Example 2: Convert number 253 in binary.</h4>      
  <table>
    <tr>
      <th>Base <sup>exponent</sup></th>
      <td>2 <sup>7</sup></td>
      <td>2 <sup>6</sup></td>
      <td>2 <sup>5</sup></td>
      <td>2 <sup>4</sup></td>
      <td>2 <sup>3</sup></td>
      <td>2 <sup>2</sup></td>
      <td>2 <sup>1</sup></td>
      <td>2 <sup>0</sup></td>
    </tr>
    
    <tr>
      <td>Binary</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Decimal</td>
      <td>128</td>
      <td>64</td>
      <td>32</td>
      <td>16</td>
      <td>8</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
    </tr>
  </table>
  <h4>128+64+32+16+8+4+1=253 <br>253 decimal = 11111101 in binary</h4> <br>
  <h4>Example 3: Convert number 122 in binary.</h4>      
  <table>
    <tr>
      <th>Base <sup>exponent</sup></th>
      <td>2 <sup>7</sup></td>
      <td>2 <sup>6</sup></td>
      <td>2 <sup>5</sup></td>
      <td>2 <sup>4</sup></td>
      <td>2 <sup>3</sup></td>
      <td>2 <sup>2</sup></td>
      <td>2 <sup>1</sup></td>
      <td>2 <sup>0</sup></td>
    </tr>
    
    <tr>
      <td>Binary</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Decimal</td>
      <td>128</td>
      <td>64</td>
      <td>32</td>
      <td>16</td>
      <td>8</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
    </tr>
  </table>
  <h4>64+32+16+8+2=122 <br>122 decimal = 1111010 in binary</h4> <br>
  <h4>Decimal numbers converted in Hexadecimal</h4>
  <table>
      <tr>
       <td>Decimal</td>
       <td>1</td>
       <td>2</td>
       <td>3</td>
       <td>4</td>
       <td>5</td>
       <td>6</td>
       <td>7</td>
       <td>8</td>
       <td>9</td>
       <td>10</td>
       <td>11</td>
       <td>12</td>
       <td>13</td>
       <td>14</td>
       <td>15</td>
      </tr>
    <tr>
      <td>Hexadecimal</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>a</td>
      <td>b</td>
      <td>c</td>
      <td>d</td>
      <td>e</td>
      <td>f</td>
    </tr>
  </table> <br> 

  <h4>Binary Ascii Characters Table</h4>
  <table>
    <tr>
      <th>Char</th>
      <th>Ascii</th>
      <th>Binary</th>
    </tr>
    <tr>
      <td>!</td>
      <td>chr(33)</td>
      <td>00100001</td>
    </tr>
    <tr>
      <td>"</td>
      <td>chr(34)</td>
      <td>00100010</td>
    </tr>
    <tr>
      <td>#</td>
      <td>chr(35)</td>
      <td>00100011</td>
    </tr>
    <tr>
      <td>$</td>
      <td>chr(36)</td>
      <td>00100100</td>
    </tr>
    <tr>
      <td>%</td>
      <td>chr(37)</td>
      <td>00100101</td>
    </tr>
    <tr>
      <td>&</td>
      <td>chr(38)</td>
      <td>00100110</td>
    </tr>
    <tr>
      <td>'</td>
      <td>chr(39)</td>
      <td>00100111</td>
    </tr>
    <tr>
      <td>(</td>
      <td>chr(40)</td>
      <td>00101000</td>
    </tr>
    <tr>
      <td>)</td>
      <td>chr(41)</td>
      <td>00101001</td>
    </tr>
    <tr>
      <td>*</td>
      <td>chr(42)</td>
      <td>00101010</td>
    </tr>
    <tr>
      <td>+</td>
      <td>chr(43)</td>
      <td>00101011</td>
    </tr>
    <tr>
      <td>,</td>
      <td>chr(44)</td>
      <td>00101100</td>
    </tr>
    <tr>
      <td>-</td>
      <td>chr(45)</td>
      <td>00101101</td>
    </tr>
    <tr>
      <td>.</td>
      <td>chr(46)</td>
      <td>00101110</td>
    </tr>
    <tr>
      <td>/</td>
      <td>chr(47)</td>
      <td>00101111</td>
    </tr>
    <tr>
      <td>0</td>
      <td>chr(48)</td>
      <td>00110000</td>
    </tr>
    <tr>
      <td>1</td>
      <td>chr(49)</td>
      <td>00110001</td>
    </tr>
    <tr>
      <td>2</td>
      <td>chr(50)</td>
      <td>00110010</td>
    </tr>
    <tr>
      <td>3</td>
      <td>chr(51)</td>
      <td>00110011</td>
    </tr>
    <tr>
      <td>4</td>
      <td>chr(52)</td>
      <td>00110100</td>
    </tr>
    <tr>
      <td>5</td>
      <td>chr(53)</td>
      <td>00110101</td>
    </tr>
    <tr>
      <td>6</td>
      <td>chr(54)</td>
      <td>00110110</td>
    </tr>
    <tr>
      <td>7</td>
      <td>chr(55)</td>
      <td>00110111</td>
    </tr>
    <tr>
      <td>8</td>
      <td>chr(56)</td>
      <td>00111000</td>
    </tr>
    <tr>
      <td>9</td>
      <td>chr(57)</td>
      <td>00111001</td>
    </tr>
    <tr>
      <td>:</td>
      <td>chr(58)</td>
      <td>00111010</td>
    </tr>
    <tr>
      <td>;</td>
      <td>chr(59)</td>
      <td>00111011</td>
    </tr>
    <tr>
      <td><</td>
      <td>chr(60)</td>
      <td>00111100</td>
    </tr>
    <tr>
      <td>=</td>
      <td>chr(61)</td>
      <td>00111101</td>
    </tr>
    <tr>
      <td>></td>
      <td>chr(62)</td>
      <td>00111110</td>
    </tr>
    <tr>
      <td>?</td>
      <td>chr(63)</td>
      <td>00111111</td>
    </tr>
    <tr>
      <td>@</td>
      <td>chr(64)</td>
      <td>01000000</td>
    </tr>
    <tr>
      <td>A</td>
      <td>chr(65)</td>
      <td>01000001</td>
    </tr>
    <tr>
      <td>B</td>
      <td>chr(66)</td>
      <td>01000010</td>
    </tr>
    <tr>
      <td>C</td>
      <td>chr(67)</td>
      <td>01000011</td>
    </tr>
    <tr>
      <td>D</td>
      <td>chr(68)</td>
      <td>01000100</td>
    </tr>
    <tr>
      <td>E</td>
      <td>chr(69)</td>
      <td>01000101</td>
    </tr>
    <tr>
      <td>F</td>
      <td>chr(70)</td>
      <td>01000110</td>
    </tr>
    <tr>
      <td>G</td>
      <td>chr(71)</td>
      <td>01000111</td>
    </tr>
    <tr>
      <td>H</td>
      <td>chr(72)</td>
      <td>01001000</td>
    </tr>
    <tr>
      <td>I</td>
      <td>chr(73)</td>
      <td>01001001</td>
    </tr>
    <tr>
      <td>J</td>
      <td>chr(74)</td>
      <td>01001010</td>
    </tr>
    <tr>
      <td>K</td>
      <td>chr(75)</td>
      <td>01001011</td>
    </tr>
    <tr>
      <td>L</td>
      <td>chr(76)</td>
      <td>01001100</td>
    </tr>
    <tr>
      <td>M</td>
      <td>chr(77)</td>
      <td>01001101</td>
    </tr>
    <tr>
      <td>N</td>
      <td>chr(78)</td>
      <td>01001110</td>
    </tr>
    <tr>
      <td>O</td>
      <td>chr(79)</td>
      <td>01001111</td>
    </tr>
    <tr>
      <td>P</td>
      <td>chr(80)</td>
      <td>01010000</td>
    </tr>
    <tr>
      <td>Q</td>
      <td>chr(81)</td>
      <td>01010001</td>
    </tr>
    <tr>
      <td>R</td>
      <td>chr(82)</td>
      <td>01010010</td>
    </tr>
    <tr>
      <td>S</td>
      <td>chr(83)</td>
      <td>01010011</td>
    </tr>
    <tr>
      <td>T</td>
      <td>chr(84)</td>
      <td>01010100</td>
    </tr>
    <tr>
      <td>U</td>
      <td>chr(85)</td>
      <td>01010101</td>
    </tr>
    <tr>
      <td>V</td>
      <td>chr(86)</td>
      <td>01010110</td>
    </tr>
    <tr>
      <td>W</td>
      <td>chr(87)</td>
      <td>01010111</td>
    </tr>
    <tr>
      <td>X</td>
      <td>chr(88)</td>
      <td>01011000</td>
    </tr>
    <tr>
      <td>Y</td>
      <td>chr(89)</td>
      <td>01011001</td>
    </tr>
    <tr>
      <td>Z</td>
      <td>chr(90)</td>
      <td>01011010</td>
    </tr>
    <tr>
      <td>[</td>
      <td>chr(91)</td>
      <td>01011011</td>
    </tr>
    <tr>
      <td>\</td>
      <td>chr(92)</td>
      <td>01011100</td>
    </tr>
    <tr>
      <td>]</td>
      <td>chr(93)</td>
      <td>01011101</td>
    </tr>
    <tr>
      <td>^</td>
      <td>chr(94)</td>
      <td>01011110</td>
    </tr>
    <tr>
      <td>_</td>
      <td>chr(95)</td>
      <td>01011111</td>
    </tr>
    <tr>
      <td>`</td>
      <td>chr(96)</td>
      <td>01100000</td>
    </tr>
    <tr>
      <td>a</td>
      <td>chr(97)</td>
      <td>01100001</td>
    </tr>
    <tr>
      <td>b</td>
      <td>chr(98)</td>
      <td>01100010</td>
    </tr>
    <tr>
      <td>c</td>
      <td>chr(99)</td>
      <td>01100011</td>
    </tr>
    <tr>
      <td>d</td>
      <td>chr(100)</td>
      <td>01100100</td>
    </tr>
    <tr>
      <td>e</td>
      <td>chr(101)</td>
      <td>01100101</td>
    </tr>
    <tr>
      <td>f</td>
      <td>chr(102)</td>
      <td>01100110</td>
    </tr>
    <tr>
      <td>g</td>
      <td>chr(103)</td>
      <td>01100111</td>
    </tr>
    <tr>
      <td>h</td>
      <td>chr(104)</td>
      <td>01101000</td>
    </tr>
    <tr>
      <td>i</td>
      <td>chr(105)</td>
      <td>01101001</td>
    </tr>
    <tr>
      <td>j</td>
      <td>chr(106)</td>
      <td>01101010</td>
    </tr>
    <tr>
      <td>k</td>
      <td>chr(107)</td>
      <td>01101011</td>
    </tr>
    <tr>
      <td>l</td>
      <td>chr(108)</td>
      <td>01101100</td>
    </tr>
    <tr>
      <td>m</td>
      <td>chr(109)</td>
      <td>01101101</td>
    </tr>
    <tr>
      <td>n</td>
      <td>chr(110)</td>
      <td>01101110</td>
    </tr>
    <tr>
      <td>o</td>
      <td>chr(111)</td>
      <td>01101111</td>
    </tr>
    <tr>
      <td>p</td>
      <td>chr(112)</td>
      <td>01110000</td>
    </tr>
    <tr>
      <td>q</td>
      <td>chr(113)</td>
      <td>01110001</td>
    </tr>
    <tr>
      <td>r</td>
      <td>chr(114)</td>
      <td>01110010</td>
    </tr>
    <tr>
      <td>s</td>
      <td>chr(115)</td>
      <td>01110011</td>
    </tr>
    <tr>
      <td>t</td>
      <td>chr(116)</td>
      <td>01110100</td>
    </tr>
    <tr>
      <td>u</td>
      <td>chr(117)</td>
      <td>01110101</td>
    </tr>
    <tr>
      <td>v</td>
      <td>chr(118)</td>
      <td>01110110</td>
    </tr>
    <tr>
      <td>w</td>
      <td>chr(119)</td>
      <td>01110111</td>
    </tr>
    <tr>
      <td>x</td>
      <td>chr(120)</td>
      <td>01111000</td>
    </tr>
    <tr>
      <td>y</td>
      <td>chr(121)</td>
      <td>01111001</td>
    </tr>
    <tr>
      <td>z</td>
      <td>chr(122)</td>
      <td>01111010</td>
    </tr>
    <tr>
      <td>{</td>
      <td>chr(123)</td>
      <td>01111011</td>
    </tr>
    <tr>
      <td>|</td>
      <td>chr(124)</td>
      <td>01111100</td>
    </tr>
    <tr>
      <td>}</td>
      <td>chr(125)</td>
      <td>01111101</td>
    </tr>
    <tr>
      <td>~</td>
      <td>chr(126)</td>
      <td>01111110</td>
    </tr>
  </table>
        <div class="col-md-8 col-md-offset-2 section-container-spacer">
          
        </div>
  
       
  
      </div>
    </div>
  </div>
<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© 2022 | Website created by Nicolae Caldarasan</p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>